<h2> {{event.info}} </h2>
<br>
<h4> status: <span class="{{event.status}}"> {{event.status|uppercase}} </span></h4>
<h4> created by: {{event.creator.name}} </h4>
<h4> created time: {{event.created_time|date:'MMM d'}} 
     at {{event.created_time|date:'hh:mm a'}} </h4>

<div class="row" style="margin-top:4%">
  <div class="col-md-6 col-xs-6">
    <h3> is down: </h3>
    <h4>{{event.creator.name}}</h4>
    <h4 ng-repeat="attendee in event.attendees">
      {{attendee.name}}
    </h4>
  </div>

  <div class="col-md-6 col-xs-6">
    <h3> also invited: </h3>
    <h4 ng-repeat="not_attendee in event.not_attendees">
      {{not_attendee.name}}
    </h4>
  </div>
</div>

<hr>
<button style="width: 100%" class="btn btn-info btn-lg" 
        ng-click="addMeToEvent()" ui-sref="menu.events"
        ng-show="!isCreator">
  hey, I'm also down
</button>

<button style="width: 100%; margin-bottom: 3%;" 
        class="btn btn-success btn-lg" 
        ng-click="confirmEvent()"
        ng-show="isCreator">
  it's a go!
</button>

<button style="width: 100%;" 
        class="btn btn-danger btn-lg" 
        ng-click="cancelEvent()"
        ng-show="isCreator">
  cancel event
</button>

