<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="menu.invite">You Down</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="menu.invite">Invite</a></li>
        <li><a ui-sref="menu.events">Events</a></li>
        <li><a ui-sref="menu.users">Friends</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>

<div class="container">
  <h4> Hey {{user.name}}, are you down for... </h4>
  <br>

  <h2> {{event.title}} </h2>
  <h4> {{event.location}} </h4>
  <h4> {{event.time}} </h4>

  <div class="row" style="margin-top:10%">
    <div class="col-md-6 col-xs-6">
      <h4> attending: </h4>
      <h5 ng-repeat="attendee in event.attendees">{{attendee.name}}</h5>
    </div>
    <div class="col-md-6 col-xs-6">
      <h4> invited: </h4>
      <h5 ng-repeat="not_attendee in event.not_attendees">{{not_attendee.name}}</h5>
    </div>
  </div>

  <h3> You are: <span>{{attendStatus}}</span></h3>
  <div style="width: 100%" class="btn-group" ng-show="isInvited">
    <button style="width: 50%" type="button" class="btn btn-primary btn-lg" ng-model="attendStatus"
        btn-radio="'attending'" ng-click="updateStatus()">Attending</button>
    <button style="width: 50%" type="button" class="btn btn-primary btn-lg" ng-model="attendStatus" 
        btn-radio="'not_attending'" ng-click="updateStatus()">Not Attending</button>
  </div>
</div>