<h2> {{event.title}} </h2>
<h4> {{event.location}} </h4>
<h4> {{event.time}} </h4>

<div class="row" style="margin-top:10%">
  <div class="col-md-6 col-xs-6">
    <h4> attending: </h4>
    <h5 ng-repeat="attendee in event.attendees">{{attendee.name}}</h5>
  </div>
  <div class="col-md-6 col-xs-6">
    <h4> invited: </h4>
    <h5 ng-repeat="not_attendee in event.not_attendees">{{not_attendee.name}}</h5>
  </div>
</div>

<hr>
<button style="width: 100%" class="btn btn-danger btn-lg" ng-click="deleteEvent()"
        ui-sref="menu.events">delete event</button>
