<h4> Are you down for... </h4>
<h3> {{event.title}} </h3>

<h5>  at </h5>

<h3> {{event.location}} </h3>

<h5> starting at </h5>

<h3> {{event.time}} </h3>

<h5>  with confirmed </h5>

<h3 ng-repeat="attendee in event.attendees">{{attendee.name}}</h3>

<h6> other invited: </h6>

<h3 ng-repeat="not_attendee in event.not_attendees">{{not_attendee.name}}</h3>

<h3> Your Attend Status: <span style="color: blue">{{attendStatus}}</span></h3>
<div class="btn-group" ng-show="isInvited">
	<button type="button" class="btn btn-primary" ng-model="attendStatus"
			btn-radio="'attending'" ng-click="updateStatus()">Attending</button>
	<button type="button" class="btn btn-primary" ng-model="attendStatus" 
			btn-radio="'not_attending'" ng-click="updateStatus()">Not Attending</button>
</div>