<table class="table table-striped">
  <thead style="font-weight:700">
    <td> event info: </td>
    <td> created by: </td>
    <td> created time: </td>
    <td> status: </td>
  </thead>
  <tbody>
    <tr ng-repeat="event in events" 
    	ui-sref="menu.event-detail({eventId: event.id})">
      <td>{{event.info}}</td>
      <td>{{event.creator.name}}</td>
      <td>{{event.created_time|date: 'short'}}</td>
      <td class="{{event.status}}">{{event.status|uppercase}}</td>
    </tr>
  </tbody>
</table>
