<h2> {{event.info}} </h2>

<div class="row" style="margin-top:7%">
  <div class="col-md-6 col-xs-6">
  	<h3> Is Down: </h3>
  	<h4 ng-repeat="attendee in event.attendees">{{attendee.name}}</h4>
  </div>

  <div class="col-md-6 col-xs-6">
    <h3> Invited: </h3>
    <h4 ng-repeat="not_attendee in event.not_attendees">{{not_attendee.name}}</h4>
  </div>
</div>

<hr>
<button style="width: 100%" class="btn btn-danger btn-lg" ng-click="deleteEvent()"
        ui-sref="menu.events">delete event</button>
