<h4> Hey I'm thinking ... </h4>
<form role="form" novalidate>
  <div class="form-group">
  	<input type="text" class="form-control" ng-model="event.title" placeholder="doing"><br>
	<input type="text" class="form-control" ng-model="event.location" placeholder="at"><br>
	<input type="text" class="form-control" ng-model="event.time" placeholder="starting at"><br>
  </div>

  with
  <div class="checkbox" ng-repeat="friend in friends">
	<label >
	  <input
	    type="checkbox"
	    name="selectedFriends"
	    value="{{friendName}}"
	    ng-model="friend.selected"
	  > {{friend.name}}
	</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>