<h3> Hey I'm thinking ... </h3>
<form role="form" novalidate>
  <div class="form-group">
  	<input type="text" class="form-control input-lg" ng-model="event.title" placeholder="doing"><br>
	<input type="text" class="form-control input-lg" ng-model="event.location" placeholder="at"><br>
	<input type="text" class="form-control input-lg" ng-model="event.time" placeholder="starting at"><br>
  </div>
</form>

<h4>with: </h4>

<div class="btn-group-vertical btn-group btn-group-lg" id="invite-list">
  <button ng-repeat="friend in friends"
    type="button"
    class="btn btn-default"
    ng-model="friend.selected" btn-checkbox> {{friend.name}} </button>
</div>

<hr>
<button id="invite-button" type="button" class="btn btn-primary btn-lg" 
		ng-click="invite()" ui-sref="menu.events">You Down?</button>
