<form novalidate>
	Doing: <input type="text" ng-model="event.name" /><br />
	At: <input type="text" ng-model="event.location" /><br />
	Starting around: <input type="text" ng-model="event.time" /><br />
	With: 
	<label ng-repeat="friend in friends">
	  <input
	    type="checkbox"
	    name="selectedFriends[]"
	    value="{{friendName}}"
	    ng-model="friend.selected"
	  > {{friend.name}}
	</label>

	<hr>

	<button type="button" class="btn btn-primary" ng-click="invite(event)">You Down?</button>
</form>
