#menu-button {
	margin-left: 2.5%;
}

#add-invite-button{
	padding: 0px 13px 8px 14px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;;
}

#send-invite-button {
	height: 60px;
	width: 100%;
}

#invite-friend-button {
	margin-top: 0px;
}

#register-button, #login-button {
	width: 100%;
}

.container {
	margin-bottom: 4%;
}